<% @data.each do | data |%>
    <ul>
    <li>School Name: <%= data['school_name'] %> </li>
    <li>Address: <%= data['location'] %> </li>
    <li>Email: <%= data['school_email'] %> </li>
    <li>Phone: <%= data['phone_number'] %> </li>
    </ul>
      <hr/>
<% end %>
    