

<% @data['schools'].each do | school |%>
    <% if school['boro'] == "M" %>
    <ul>
    <li><%= school['boro'] %> </li>
    <li>Address: <%= school['location'] %> </li>
    <li>Email: <%= school['school_email'] %> </li>
    <li>Phone: <%= school['phone_number'] %> </li>
    </ul>
      <hr/>
<% end %>
<% end %>

    